<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  
  <servlet>
    <servlet-name>valid</servlet-name>
    <servlet-class>com.controller.Hello</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>valid</servlet-name>
    <url-pattern>/validation</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>EmpControl</servlet-name>
    <servlet-class>com.controller.EmpControl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpControl</servlet-name>
    <url-pattern>/emp</url-pattern>
  </servlet-mapping>
  
  <session-config>
    <session-timeout>10</session-timeout>
  </session-config>
  
</web-app>